name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
#   workflow_dispatch:

jobs:
  debugger:
    uses: rewanthtammana/centralized-workflows/.github/workflows/debugger.yml@main
    secrets: inherit
