name: Node.js CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]


jobs:
#   pre-build-checks:
#     runs-on: ubuntu-latest
#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v3
#     - name: Generate package.lock json
#       run: npm i --package-lock-only
# #     - name: Find vulnerable packages
# #       run: npm audit
  pre-build-checks:
    uses: rewanthtammana/centralized-workflows/.github/workflows/nodejs.yml@main

  build:

    runs-on: ubuntu-latest
    needs: pre-build-checks
    strategy:
      matrix:
        node-version: [14.x]

    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm install
    
  publish:
    uses: rewanthtammana/centralized-workflows/.github/workflows/publish.yml@main
    with:
      image_name: testinguser883/central-hello-world
      tag: try
#     secrets:
#       registry_username: ${{secrets.DOCKER_USERNAME}}
#       registry_password: ${{secrets.DOCKER_PASSWORD}}
    needs: build
    secrets: inherit

#     runs-on: ubuntu-latest
#     needs: build
#     steps:
#     - name: Checkout code
#       uses: actions/checkout@v3
# #     - name: Set up QEMU
# #       uses: docker/setup-qemu-action@v2
#     - name: Set up Docker Buildx
#       id: buildx
#       uses: docker/setup-buildx-action@v2
#     - name: Docker Login
#       uses: docker/login-action@v2.0.0
#       with:
#         username: ${{ secrets.DOCKER_USERNAME }}
#         password: ${{ secrets.DOCKER_PASSWORD }}
#     - name: Build and push Docker images
#       uses: docker/build-push-action@v3.0.0
#       with:
#         context: .
#         push: true
#         tags: testinguser883/hello-world:latest
#     - name: Image digest
#       run: echo ${{ steps.docker_build.outputs.digest }}
